---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Hardware:
    - Intel Nuc:
        ping: pve.proxmox.homelab
        href: https://pve.proxmox.homelab:8006
        description: Intel NUC 12 i5 / 64GB
        icon: sh-proxmox
        widget:
            type: prometheusmetric
            url: https://k8s.proxmox.homelab/prometheus
            refreshInterval: 60000
            metrics:
            -   label: Temperature
                query: 'avg(node_hwmon_temp_celsius{instance="10.243.100.160:9100"})'
                format:
                    type: number
                    suffix: '°C'
                    options:
                        maximumFractionDigits: 1
            -   label: CPU Load
                query: '100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle",instance="10.243.100.160:9100"}[5m])) * 100)'
                format:
                    type: number
                    suffix: '%'
                    options:
                        maximumFractionDigits: 1
            -   label: Memory
                query: '100 * (1 - node_memory_MemAvailable_bytes{instance="10.243.100.160:9100"} / node_memory_MemTotal_bytes{instance="10.243.100.160:9100"})'
                format:
                    type: number
                    suffix: '%'
                    options:
                        maximumFractionDigits: 0
            -   label: Disk
                query: 'node_filesystem_free_bytes{fstype!~"tmpfs|overlay",instance="nfs.proxmox.homelab:9100"}  / 1073741824'
                format:
                    type: number
                    suffix: GB
                    options:
                        maximumFractionDigits: 0
    - Raspberry Pi:
        ping: raspberry.proxmox.homelab
        description: Raspberry Pi 4B / 4GB
        icon: sh-raspberry-pi
        widget:
            type: prometheusmetric
            url: https://k8s.proxmox.homelab/prometheus
            refreshInterval: 60000
            metrics:
            -   label: Temperature
                query: 'avg(node_hwmon_temp_celsius{instance="pi4"})'
                format:
                    type: number
                    suffix: '°C'
                    options:
                        maximumFractionDigits: 1
            -   label: CPU Load
                query: '100 - (avg by(instance) (rate(node_cpu_seconds_total{mode="idle",instance="pi4"}[5m])) * 100)'
                format:
                    type: number
                    suffix: '%'
                    options:
                        maximumFractionDigits: 1
            -   label: Memory
                query: '100 * (1 - node_memory_MemAvailable_bytes{instance="pi4"} / node_memory_MemTotal_bytes{instance="pi4"})'
                format:
                    type: number
                    suffix: '%'
                    options:
                        maximumFractionDigits: 0
            -   label: Disk
                query: 'node_filesystem_free_bytes{mountpoint=~"/mnt/ssd1" ,fstype!~"tmpfs|overlay",instance="pi4"}  / 1073741824'
                format:
                    type: number
                    suffix: GB
                    options:
                        maximumFractionDigits: 0
    - NAS:
        icon: si-truenas-#0095D5
        description: Storage server
        widget:
            type: prometheusmetric
            url: https://k8s.proxmox.homelab/prometheus
            refreshInterval: 60000
            metrics:
            -   label: NFS Disk
                query: 'node_filesystem_free_bytes{fstype!~"tmpfs|overlay",instance="nfs.proxmox.homelab:9100"}  / 1073741824'
                format:
                    type: number
                    suffix: GB
                    options:
                        maximumFractionDigits: 0
            -   label: SSD Disk
                query: 'node_filesystem_free_bytes{mountpoint=~"/mnt/ssd1" ,fstype!~"tmpfs|overlay",instance="pi4"}  / 1073741824'
                format:
                    type: number
                    suffix: GB
                    options:
                        maximumFractionDigits: 0
            -   label: HDD Disk
                query: 'node_filesystem_free_bytes{mountpoint=~"/mnt/hdd" ,fstype!~"tmpfs|overlay",instance="pi4"}  / 1073741824'
                format:
                    type: number
                    suffix: GB
                    options:
                        maximumFractionDigits: 0

- Dashboard Nuc:
    - Intel Nuc:
        widget:
            type: iframe
            name: myiframe
            classes: h-96
            src: https://k8s.proxmox.homelab/grafana/public-dashboards/1c9275d021fb436a976bb25065c55eed

- Dashboard RaspberryPi:
    - Raspberry Pi:
        widget:
            type: iframe
            name: myiframe
            classes: h-96
            src: https://k8s.proxmox.homelab/grafana/public-dashboards/e1a09c83f0f1483f9ecf3ea2c4b49b97


- Monitoring:
    - Proxmox:
        href: https://pve.proxmox.homelab:8006
        description: Virtualization platform
        icon: sh-proxmox
        widget:
            type: proxmox
            url: https://pve.proxmox.homelab:8006
            username: {{HOMEPAGE_VAR_PROXMOX_USERNAME}}
            password: {{HOMEPAGE_VAR_PROXMOX_PASSWORD}}
            fields: ["vms", "resources.cpu", "resources.mem"]
    - Grafana:
        href: https://k8s.proxmox.homelab/grafana/
        description: Analytics and monitoring platform
        icon: sh-grafana.png
        widget:
            type: grafana
            url: http://kube-prom-stack-grafana.monitoring.svc.cluster.local
            username: {{HOMEPAGE_VAR_GRAFANA_USERNAME}}
            password: {{HOMEPAGE_VAR_GRAFANA_PASSWORD}}
    - Prometheus:
        href: https://k8s.proxmox.homelab/prometheus/query
        fields: ["targets_up", "targets_down"]
        icon: sh-prometheus
        widget:
            type: prometheus
            url:  http://prometheus-operated.monitoring.svc.cluster.local:9090/prometheus/
    - Loki:
        href: https://k8s.proxmox.homelab/grafana/a/grafana-lokiexplore-app/explore
        description: Log aggregation system
        icon: sh-loki
    - Jaeger:
        href: https://k8s.proxmox.homelab/jaeger
        description: Distributed tracing
        icon: /icons/jaeger.png

- Applications:
    - HomeAssistant:
        href: http://raspberry.proxmox.homelab:8123
        description: Smart home automation
        icon: sh-home-assistant
        widget:
            type: homeassistant
            url: http://raspberry.proxmox.homelab:8123
            key: {{HOMEPAGE_VAR_HOMEASSISTANT_KEY}}
            custom:
            -   state: sensor.u_s_air_quality_index
                label: Air Quality
            -   state: light.all
                label: Lights
    - changedetection:
        href: https://detector.proxmox.homelab
        description: Website monitoring
        icon: sh-changedetection
        widget:
            type: changedetectionio
            url: http://detector-changedetection.default.svc.cluster.local:5000
            key: {{HOMEPAGE_VAR_CHANGEDETECTION_KEY}}
    # - Maybe Finance:
    #     href: https://maybe.proxmox.local
    #     description: Personal finance management
    #     icon: sh-maybe
    - Paperless:
        href: https://paperless.proxmox.homelab/
        description: Document management system
        icon: si-paperlessngx-#17541F
    - Actual:
        href: https://actual.proxmox.homelab/budget
        description: Personal finance management
        icon: si-actualbudget-#6B46C1
    - Glance:
        href: https://gateway.proxmox.homelab/glance
        description: Personal dashboard
        icon: sh-glance
    - AdventureLog:
        href: https://adventurelog.proxmox.homelab
        description: Trip planning and tracking
        icon: sh-adventurelog


- Storage:
    - Nextcloud:
        href: https://nextcloud.proxmox.homelab
        description: File storage and sharing
        icon: sh-nextcloud
        widget:
            type: nextcloud
            url: https://nextcloud.proxmox.homelab
            username: {{HOMEPAGE_VAR_NEXTCLOUD_USERNAME}}
            password: {{HOMEPAGE_VAR_NEXTCLOUD_PASSWORD}}
            fields: ["cpuload", "memoryusage", "freespace", "numfiles"]
    - Immich:
        href: http://raspberry.proxmox.homelab:2283
        description: Google Photos alternative
        icon: sh-immich
        widget:
            type: immich
            url: http://raspberry.proxmox.homelab:2283/
            key: {{HOMEPAGE_VAR_IMMICH_KEY}}
            version: 2
            fields: [ "photos", "videos", "storage"]
    - Calibre:
        href: https://calibre.proxmox.homelab
        description: E-book management
        icon: sh-calibre.png
        widget:
            type: calibreweb
            url: http://calibre-application.default.svc.cluster.local:3000
            username: {{HOMEPAGE_VAR_CALIBRE_USERNAME}}
            password: {{HOMEPAGE_VAR_CALIBRE_PASSWORD}}
    - Harbor:
        href: https://harbor.proxmox.homelab
        description: Docker Image registry
        icon: sh-harbor
    - Minio:
        href: https://minio.proxmox.homelab
        icon: sh-minio
        description: S3 Object storage

- Tools:
    - ArgoCD:
        href: https://argo.proxmox.homelab
        description: Declarative GitOps for Kubernetes
        icon: sh-argo-cd
        widget:
            type: argocd
            url: https://argo.proxmox.homelab
            key: {{HOMEPAGE_VAR_ARGOCD_KEY}}
    - Linkwarden:
        href: https://linkwarden.proxmox.homelab
        description: Bookmark management
        icon: sh-linkwarden
        widget:
            type: linkwarden
            url: https://linkwarden.proxmox.homelab
            key: {{HOMEPAGE_VAR_LINKWARDEN_KEY}}
    - DevOps Toolchain:
        href: https://gateway.proxmox.homelab/toolchain/
        description: HomeLab Infrastructure and Deployment
        icon: sh-kubernetes
    - CyberChef:
        href: https://gateway.proxmox.homelab/cyberchef/
        description: Utility for Cyber Security
        icon: sh-cyberchef
    - n8n:
        href: https://n8n-automation.proxmox.homelab/
        description: Workflow automation
        icon: sh-n8n


- Networking:
    - adguard:
        href: http://adguard.proxmox.homelab
        description: Network-wide ad blocker
        icon: sh-adguard-home
        widget:
            type: adguard
            url: {{HOMEPAGE_VAR_ADGUARD_URL}}
            username: {{HOMEPAGE_VAR_ADGUARD_USERNAME}}
            password: {{HOMEPAGE_VAR_ADGUARD_PASSWORD}}
    - opnsense:
        href: https://opnsense.proxmox.homelab
        description: Firewall and routing
        icon: sh-opnsense
        widget:
            type: opnsense
            url: https://opnsense.proxmox.homelab
            username: {{HOMEPAGE_VAR_OPNSENSE_USERNAME}}
            password: {{HOMEPAGE_VAR_OPNSENSE_PASSWORD}}
            wan: opt2
    - Kong:
        href: http://kong-manager.proxmox.homelab/
        description: API Gateway
        icon: si-kong
    - Kiali:
        href: https://k8s.proxmox.homelab/kiali/
        description: Service mesh observability
        icon: /icons/kiali.png
    - zerotier:
        href: https://my.zerotier.com
        icon: sh-zerotier
        description: VPN Remote access
        ping: zerotier.com



- IAM and Security:
    - Keycloak:
        href: https://keycloak.proxmox.homelab
        description: Identity and Access Management
        icon: sh-keycloak
    - Vault:
        href: https://vault.proxmox.homelab
        description: Secrets management
        icon: sh-hashicorp-vault-light


