apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
- volume.yaml
- vs.yaml
- linkwarden-secret.yaml
namePrefix: linkwarden-
images:
- name: ghcr.io/guyzsarun-lab/base
  newName: ghcr.io/linkwarden/linkwarden
  newTag: v2.13.1
commonLabels:
  app: linkwarden
patches:
- path: patches/deployment-sidecar.yaml
- path: patches/deployment-memory.yaml
- path: patches/service.yaml
